<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="StoreAccounting_DBEntities" connectionString="metadata=res://*/Context.StoreModel.csdl|res://*/Context.StoreModel.ssdl|res://*/Context.StoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=StoreAccounting_DB;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	
	
</configuration>